.wind {
  display: flex;
  justify-content: center;
  .show-panel {
    border-radius: 30px;
    background-color: #ff6835;
    margin-top: 20px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s;
    outline: none;
    overflow: hidden;
    border-style: none;
    &:hover {
      background-color: #f8855f;
    }
  }
}
