@media (min-width: 300px) {
  .wrapper-block {
    min-width: 280px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 190px);
    .block-last {
      grid-area: auto;
    }
  }
  .main-block {
    &__title {
      font-size: 1.3em;
    }
    &__subtitle {
      font-size: 0.9em;
    }
    .main-container {
      max-width: 300px;
    }
    .container {
      max-width: 300px;
      .main__data {
        .title-reused {
          font-size: 20px;
        }
      }
    }
  }
}
@media (min-width: 400px) {
  .wrapper-block {
    max-width: 400px;
    grid-template-columns: repeat(1, 1fr);
    .block-last {
      grid-area: auto;
    }
  }
  .main-block {
    &__title {
      font-size: 1.5em;
    }
    &__subtitle {
      font-size: 0.9em;
    }
    .main-container {
      min-width: 400px;
    }
    .container {
      min-width: 400px;
      .main__data {
        .title-reused {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  body {
    height: 100dvh;
    overflow: hidden;
  }
  .main-block {
    &__title {
      font-size: 1.6em;
    }
    &__subtitle {
      font-size: 1em;
    }
    .main-container {
      max-width: 1140px;
    }
    .container {
      min-width: 500px;
      .main__data {
        .title-reused {
          font-size: 32px;
        }
      }
    }
  }
}
