.main-block {
  height: 100dvh;
  display: grid;
  position: relative;
  padding: 1em 1em;
  &__title {
    line-height: 1em;
    text-align: center;
    color: $main-color;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0px;
  }
  &__subtitle {
    line-height: 1.2em;
    text-align: center;
    font-size: 0.8em;
  }
  .date {
    font-size: 0.8em;
    grid-column: 1;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
  }
  .temperature {
    font-size: 0.8em;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
  }
  .units {
    justify-self: center;
    align-self: center;
    .cel {
      font-size: 1.5em;
    }
    .toggle {
      margin: 0;
      justify-self: center;
      align-self: center;
    }
    .fahr {
      font-size: 1.5em;
      grid-column-start: 2;
      align-self: center;
    }
  }
}
.title-reused {
  font-size: 1.7em;
  font-weight: 700;
  text-shadow: 0 0 10px rgba($main-color, 0.6);
}
